* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Raleway", sans-serif;
}
.quiz_box {
    width: 550px;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
}